<article class="post">
  <div class="title">
    <a href="/post/{{id}}"><h2>{{title}}</h2> </a>
    <p>
      {{post_text}}


      </p>
  </div>
  <br>
  <div class="meta">
    posted by {{user.username}} on {{format_date created_at}}
    |
    {{comments.length}} {{format_plural "comment" comments.length}}
  </div>
</article>